<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <form action="/" method="post">
                    <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
                    <select name="month">
                        <option disabled selected>Month</option>
                        {% for month in months %}
                        <option value="{{ month }}">{{ month }}</option>
                        {% endfor %}
                    </select>
                    <select name="day">
                        <option disabled selected>Day</option>
                        {% for day in days %}
                        <option value="{{ day }}">{{ day }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                </form>
                {% if failure == True %}
                    <h3 style="color: red">Fail to add Birthday! Try Again!</h3>
                {% endif %}
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for birthday in birthdays %}
                        <tr>
                            <td>{{ birthday.name }}</td>
                            <td>{{ birthday.month }}.{{ birthday.day }}</td>
                            <td>
                                <form action="/delete" method="post">
                                    <input name="id" type="hidden" value="{{ birthday.id }}">
                                    <input type="submit" value="Delete">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
